@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
header {
    background: #5d2579;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.nav .nav-items .nav-link {
    padding-top: 1.6rem;
    padding-right: 0.5rem;
    position: relative;
}

.nav .nav-brand a {
    display: block;
    font-family: var(--Lexend);
}

.nav-brand img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

nav a {
    position: relative;
    display: table-cell;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Myriad Pro Regular';
    font-weight: bold;
    padding: 10px;
    transition: 0.2s ease color;
    font-size: 16px;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

li a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

.nav-link a:before {
    background-color: purple;
}

.nav-link a:after {
    background-color: white;
}

.nav-link a:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
}

nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
    margin-top: 25px;
}

.search {
    border: 1px solid grey;
    border-radius: 25px;
    height: 35px;
    width: 450px;
    padding: 12px 20px 8px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.wrapper input::placeholder {
    top: 0px;
    font-family: 'Myriad Pro Regular';
    color: #541175;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 8px;
    color: #541175;
    width: 16px;
}

.clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}

.search:hover,
.search:focus {
    border: 1px solid #009688;
    background-color: white;
}

.wallet button {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    font-size: 16px;
    border-width: 3px;
    background-color: none;
}

.wallet2 {
    margin-top: 20px;
}