.option-nft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

.select1 {
    display: flex;
    flex-wrap: wrap;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: rgb(102, 102, 128);
    background-image: none;
    cursor: pointer;
    font-family: "Myriad Pro Regular";
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}


/* Custom Select wrapper */

.select1 .select {
    margin-right: 40px;
}

.select {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    overflow: hidden;
    font-size: 20px;
}

.opti {
    font-size: 15px;
    background-color: rgb(39, 39, 65);
    padding: 40px;
    font-family: "Myriad Pro Regular";
}

.opti:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    right: 0;
    padding: 0.7em;
    background-color: #9e9eba;
    transition: .25s all ease;
    pointer-events: none;
}


/* Transition */

.select:hover::after {
    color: white;
}