@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0E0115 !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* nav bar */

li {
    display: inline;
}

a {
    text-decoration: none;
}